body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #FCF8EF;
  --secondary: #224b23;
  --background: #fffdf1;
  --text: #224b23;
  --soft: #ffffff;
}

html, body, #root, #root>div {
  height: 100%;
  background: var(--background);
  color: var(--text)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}